.lesson-body.lesson-body--dictation
	.container-750
		include ../_lesson-stage.pug
		.lesson-body__content
			.dictation.text-center
				.dictation-title.text-grey
					p Произнесите вслух на английском
				.dictation-text 
					p Я (есть) (просто) мальчик
				.dictation-mic
					.audio-recording
						.audio-recording__img
							img(src="images/lesson/icons/mic2.png", alt="alt")
							.audio-recording__state
								span
								span
								span