mixin btnItem(ic, text)
	button.button-item&attributes(attributes)
		img(src="./images/lesson/icons/"+ic+".png", alt="alt")
		span #{text}


.lesson-body
	.container-750
		include ../_lesson-stage.pug
		.lesson-body__content
			.dictation.text-center
				.dictation-title.text-grey
					p Произнесите вслух на 
				.dictation-text 
					p Я (есть) (просто) мальчик