.modal-information.m-auto.modal-wrap(data-role="info")
	.modal-information__header
		.modal-information__header-title
			img(src="images/lesson/icons/question.png", width="18"  alt="alt")
			p Задание
		button.modal-information__header-button.close-modal
			p Закрыть
			img(src="images/lesson/icons/close.png", width="16", alt="alt")
	.modal-information__body
		p Посмотрите видео с правилами урока
		p Буквосочетание CK читается как [k] (k).
		p Обратите внимание: английский звук [k] в английском языке произносятся с придыханием (аспирацией). Придыхание напоминает шум слабого выдоха, напоминая согласный звук [h]: [kh]. При образовании слога, начинающегося с [k], гласные произносятся не сразу, а после некоторого перерыва: kick [khik]. В русском языке гласные в таком случае произносятся слитно с предшествующим согласным, без какого-либо перерыва.