//============== модальное окно ВОПРОСЫ С ГЛАГОЛОМ BE ===========
.madal-block
	.modal-white.m-auto.modal-wrap
		.modal-white__header
			.modal-white__header-title
				p Вопросы с глаголом to be в настоящем времени
			
		.modal-white__body
			.task-table
				.task-table__header
					p Чтобы задать вопрос достаточно просто поставить форму глагола #[span “to be”]  перед подлежащим
				.task-table__body
					//======= одна таблица ======
					table
						tr
							td
								p #[span You are] happy
							td
								p Ты счастливый
						tr
							td
								p #[span You are] happy
								p #[span You are] happy
							td
								p Ты счастливый
								p Ты счастливый
					//======= одна таблица ======	
					table
						tr
							td
								p #[span You are] happy
							td
								p Ты счастливый
						tr
							td
								p #[span You are] happy
							td
								p Ты счастливый
					
		.modal-white__footer
			button.button Продолжить