//============== модальное окно ЗАДАНИЕ ===========
.madal-block
	.modal-white.modal-white--small.m-auto.modal-wrap
		.modal-white__header
			.modal-white__header-title
				img(src="./images/lesson/icons/help.png", alt="alt")
				p Что такое транскрипция?
			
		.modal-white__body
			.description-text
				p Фонетическая транскрипция – это графическая запись звучания слова; преследует цели точной графической записи произношения. Каждый отдельный звук должен быть отдельно зафиксирован в записи. Фонетическая транскрипция пишется в квадратных скобках, для записи используются специальные фонетические символы. 
		.modal-white__footer
			button.button Закрыть