//============== модальное окно ЗАДАНИЕ ===========
.madal-block
	.modal-white.modal-white--small.m-auto.modal-wrap
		.modal-white__header
			.modal-white__header-title
				img(src="./images/lesson/icons/task.png", alt="alt")
				p Задание
			
		.modal-white__body
			.description-text
				p Прослушайте слово на русском и введите его перевод на английском
		.modal-white__footer
			button.button Продолжить