//=======LESSON TIME ========
.lesson-stage
	.lesson-stage__row
		.lesson-stage__time
			span Время
			span 01:06
		.lesson-stage__answers
			ul
				li.lesson-stage__answers-right
				li.lesson-stage__answers-wrong
				li.lesson-stage__answers-right
				li.lesson-stage__answers-active
				li
				li
		.lesson-stage__score
			span Баллы
			span 99