mixin btnItem(ic, text)
	button.button-item&attributes(attributes)
		img(src="./images/lesson/icons/"+ic+".png", alt="alt")
		span #{text}
.exercise-menu
	.exercise-menu__hint-btn
		+btnItem('bell', 'Подсказка')(data-target="hint")
	.exercise-menu__nav
		+btnItem('info', 'Задание')(data-target="info")
		+btnItem('dict', 'Словарь')
		+btnItem('board', 'Грамматика')
	.exercise-menu__toggle
		.switch-button
			label
				input(type="checkbox")
				p
					span Сложно
					span Просто

			