// LATO REGULAR
@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato-Regular.woff") format("woff"),
    url("../../fonts/Lato-Regular.woff") format("truetype");
  font-weight: 400;
}
// LATO BOLD
@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato-Bold.woff") format("woff"),
    url("../../fonts/Lato-Bold.woff") format("truetype");
  font-weight: 700;
}
