.madal-block{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
	background-color:rgba(0,0,0, .5);
}
.modal-white{
	background-color: #fff;
	padding: 30px 30px 40px;
	border-radius: 4px;
	max-width: 712px;
	@media screen and (max-width: 767px) {
		width: 100%;
		max-width: 100%;
		height: 100vh;
		border-radius: 0;
	}
	z-index: 10;
	&__header-title{
		font-weight: 700;
		text-align: center;
		margin-bottom: 40px;
	}
	
}