//COLORS

$white: #fff;
$white--10: #e0e0e0;
$black: #000;
$black--00: #333333;
$orange: #ff940d;
$orange--10: #ff9900;
$orange--90: #ffb150;
$gray--00: #5c5c5c;
$gray--10: #575c6d;
$gray--20: #99a5b1;
$gray--30: #4f4f4f;
$gray--40: #828d9f;
$blue--00: #36467e;
$blue--10: #3d4e67;
$blue--20: #303030;
$blue--70: #8b99ca;
$blue--80: #b9d2ff;
$blue--90: #9eacdd;
$turquoise: #21c3be;
$turquoise--10: #21c4be;
$turquoise--20: #00c3bc;
$turquoise--90: #2bcdc8;
$red: #f88a8a;

//INPUT BORDER
$input--border: #bdbdbd;
//BACKGROUND
$blue--background: #f7faff;
$gray--background: #f4f4f4;
$popup--background: #00000080;

//BOX-SHADOW
$header--boxshadow: 0px 0px 29px rgba(196, 210, 230, 0.42);
$course--boxshadow: 0px 0px 11px rgba(148, 183, 197, 0.12);
$questions-boxshadow: 0px 0px 11px rgba(118, 118, 118, 0.17);
$dropmenu-boxshadow: 0px 4px 7px rgba(148, 183, 197, 0.25);
$popup--boxshadow: 0px 0px 29px rgba(196, 210, 230, 0.42);

//LESSON
$menuItem:#00c3bc;
$menuItemActive:#333333;
$menuItemDisable:#bdbdbd;
$greenText: #00c3bc;