extends ../layouts/layout.pug

block content
	.lesson-wrapper
		include ../sections/_lesson-head.pug
		include ../sections/audio-page/_lesson-audio.pug
		include ../sections/_lesson-footer.pug
	
	
block variables
	-var title = "Аудирование";