extends ../layouts/layout.pug

block content
	#overlay
	.lesson-wrapper
		include ../sections/_lesson-head.pug
		include ../sections/page-audio/_lesson-audio.pug
		include ../sections/_lesson-footer2.pug
	
	
block variables
	-var title = "Аудирование";