extends ../layouts/layout.pug

block content
	#overlay
	.lesson-wrapper
		include ../sections/_lesson-head.pug
		include ../sections/page-dictation/_lesson-dictation-start.pug
		include ../sections/_lesson-dict-bottomMenu.pug
	
	
block variables
	-var title = "Урок с картинкой";