extends ../layouts/layout.pug

block content
	#overlay
	.lesson-wrapper
		include ../sections/_lesson-head.pug
		include ../sections/page-dictation/_lesson-dictation.pug
		include ../sections/_lesson-dict-bottomShort.pug
		//- include ../sections/_lesson-footer.pug
	
	
block variables
	-var title = "Урок с картинкой";