extends ../layouts/layout.pug

block content
	include ../sections/modal/_lesson-modal-blue.pug
	//- include ../sections/_lesson-stage.pug
	//- include ../sections/_lesson-bottomMenu.pug
	//- include ../sections/_lesson-footer.pug
	
	
block variables
	-var title = "Page";