extends ../layouts/layout.pug

block content
	//- include ../sections/modal/_lesson-modal-blue.pug
	//- include ../sections/modal/_lesson-modal-white.pug
	include ../sections/_ui-el.pug
	
block variables
	-var title = "Page";