.lesson-body.lesson-body--audio
	.container-750
		include ../_lesson-stage.pug
		.lesson-body__content
			.lesson-body__text
				.text-block
					p Мужчина переходил дорогу однажды, когда лягушка позвала его и сказала: «Если ты меня поцелуешь, я превращусь в прекрасную принцессу».
				.text-block.text-bold
					p A man was crossing a road one day when a frog called out to him and said, "If you kiss me, I'll turn into a beautiful princess".
			
			//======= КНОПКИ  УПРАВЛЕНИЯ АУДИО
			.lesson-body__controller
				button.button-prev
					img(src="./images/lesson/icons/arrow-left.png", width="25" alt="alt")
				button.button-play
					img(src="./images/lesson/icons/play.png", width="49" alt="alt")
					img(src="./images/lesson/icons/pause.png", width="49" alt="alt")
				button.button-next
					img(src="./images/lesson/icons/arrow-right.png", width="25" alt="alt")
		include ../_lesson-bottomMenu.pug
	//=======ЗАДАНИЕ - МОДАЛЬНОЕ ОКНО 
	.modal-information.modal-information--info.m-auto.modal-wrap(data-role="info")
		.modal-information__header
			.modal-information__header-title
				img(src="images/lesson/icons/question.png", width="18"  alt="alt")
				p Задание
			button.modal-information__header-button.close-modal
				p Закрыть
				img(src="images/lesson/icons/close.png", width="16", alt="alt")
		.modal-information__body
			p Посмотрите видео с правилами урока
			

	//======= ПОДСКАЗКА - МОДАЛЬНОЕ ОКНО
	.modal-information.modal-information--hint.m-auto.modal-wrap(data-role="hint")
		.modal-information__header
			.modal-information__header-title
				img(src="images/lesson/icons/question.png", width="18"  alt="alt")
				p Задание
			button.modal-information__header-button.close-modal
				p Закрыть
				img(src="images/lesson/icons/close.png", width="16", alt="alt")
		.modal-information__body
			p Посмотрите видео с правилами урока
			p Буквосочетание CK читается как [k] (k).
			p Обратите внимание: английский звук [k] в английском языке произносятся с придыханием (аспирацией). Придыхание напоминает шум слабого выдоха, напоминая согласный звук [h]: [kh]. При образовании слога, начинающегося с [k], гласные произносятся не сразу, а после некоторого перерыва: kick [khik]. В русском языке гласные в таком случае произносятся слитно с предшествующим согласным, без какого-либо перерыва.