
.lesson-footer{
	box-shadow: 0px -3px 8px rgba(69, 64, 92, 0.1);
	background-color: #fff;
	padding-top: 16px;
	padding-bottom: 19px;
	&__content{
		
		display: flex;
		justify-content: space-between;
		align-items:center;
	}
	@media screen and (max-width: 767px){
		padding-top: 9px;
		padding-bottom: 9px;
		&__content{
			flex-direction: column-reverse;
			.button{margin-bottom: 11px;}
		}

	}
}