.button{
	box-sizing: border-box;
	text-align: center;
	text-decoration: none;
	padding: 0;
	height: 45px;
	line-height: 45px;
	padding-left: 52px;
	padding-right: 52px;
	font-size: 14px;
	font-weight: 700;
	font-family: "Lato", sans-serif;
	background-color: #FF940D;
	border-radius:5px;
	border: none;
	color: #fff;
	@media screen and (max-width: 767px){
		width: 100%;
		max-width:290px;
	}
}
.lesson-footer{
	box-shadow: 0px -3px 8px rgba(69, 64, 92, 0.1);
	background-color: #fff;
	padding-top: 16px;
	padding-bottom: 19px;
	&__content{
		
		display: flex;
		justify-content: space-between;
		align-items:center;
	}
	@media screen and (max-width: 767px){
		padding-top: 9px;
		padding-bottom: 9px;
		&__content{
			flex-direction: column-reverse;
			.button{margin-bottom: 11px;}
		}

	}
}