.lesson-body--dictation{
	.lesson-body__content{
		padding-top: 60px;
		@media screen and (max-width:767px){
			padding-top: 0;
		}	
	}
	
}
.mic-block {
	position: relative;
	max-width: 520px;
	margin-left: auto;
	margin-right: auto;
	min-height:100px;

	.text-green {
		font-weight: 500;
		font-weight: bold;
		margin-top: 16px;

		button {
			background-color: transparent;
		}

	}

	&__img {
		position: absolute;
		right: -15px;
		bottom: 0;
		z-index: 2;
		transform: translateX(100%);
		img{
			max-width:100%;
		}
		@media screen and (max-width:767px) {
			transform: translateX(0);
			right: 0;
			bottom: -20px;
			width: 35px;
		}
	}
}
.exercise-menu--full .hide-btn__help {display: none;}
.exercise-menu.exercise-menu--full .exercise-menu__toggle {
	display: block;

}

@media screen and (max-width:767px) {
	.exercise-menu.exercise-menu--full {
		flex-wrap: wrap;

		.hide-btn__help {
			display: block;
			order: 1
		}

		.exercise-menu__toggle {
			order: 2
		}

		.exercise-menu__nav {
			width: 100%;
			order: 3;
			margin-top: 24px;
		}
	}
}
.dictation-result{
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	.result-item{
		display: inline-flex;
		justify-content: center;
		align-items: center;
		height: 35px;
		transition: background-color .3s;
		padding-left: 15px;
		padding-right: 20px;
		border-radius: 3px;
		cursor:pointer;
		& +.result-item{margin-left: 35px;}
		span{
			margin-right: 10px;
			display: block;
			width: 14px;
			height: 14px;
			position: relative;
			img{
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				z-index: 1;
			}
			img:last-child{
				z-index: -1;
			}
		}
	}
	.result-item{
		&--right p{color: $greenText;}
		&--wrong p{color: #EB5757;}
		&:hover, &.active{
			p{color: #ffffff; }
		}
		&--right:hover, &--right.active,&--wrong:hover, &--wrong.active{
			span{
				img{
					z-index: -1;
					&:last-child{z-index: 2;}
				}
			}
		}

		&--right:hover, &--right.active{
			background-color: $greenText;
			
			
		}
		&--wrong:hover, &--wrong.active{
			background-color: #EB5757;
		}
	}
	
}